@using FredsWorkmate.Database.Models
@model Customer
<tr>
    <td><a asp-page="Customer" asp-route-id=@Model.Id>@Model.Id</a></td>
    <td>@Model.Created</td>
    <td>@Model.Updated</td>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td><pre>@Model.Address</pre></td>
    <td>
        Edit, Delete Buttons
    </td>
</tr>